body {background-color: rgb(59, 194, 149);}
@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(151, 71, 255);
    }
  }

.p1 {font-size: 300%;
text-align: center;
background-color: blueviolet;
border-color: darkblue;
border-width: 6px;
border-style:groove;
margin-left: 10%;
margin-right: 10%;
padding-top: 2%;
padding-bottom: 2%;}
@media only screen and (max-width: 600px) {
    .p1 { font-size: 250%;
        background-color: rgb(226, 43, 144);
        border-color: rgb(139, 0, 86);
      }
  }

.p2 {font-size: 200%;
    text-align: center;
    background-color: rgb(102, 154, 223);
    border-color: rgb(32, 32, 201);
    border-width: 6px;
    border-style:outset;
    margin-left: 50%;
    margin-right: 15%;
    padding-top: 1%;
    padding-bottom: 1%;}
    @media only screen and (max-width: 600px) {
        .p2 { font-size: 150%;
            background-color: rgb(43, 226, 134);
            border-color: rgb(0, 139, 58);
          }
      }
    
.p3 {font-size: 200%;
    text-align: center;
    background-color: rgb(241, 106, 223);
    border-color: rgb(255, 5, 192);
    border-width: 6px;
    border-style:outset;
    margin-left: 10%;
    margin-right: 60%;
    padding-top: 1%;
    padding-bottom: 1%;}
    @media only screen and (max-width: 600px) {
        .p3 { font-size: 150%;
            background-color: rgb(221, 147, 77);
            border-color: rgb(201, 154, 2);
          }
      }
    

.p4 {font-size: 200%;
    text-align: center;
    background-color: rgb(93, 226, 104);
    border-color: rgb(0, 139, 42);
    border-width: 6px;
    border-style:outset;
    margin-left: 45%;
    margin-right: 25%;
    padding-top: 1%;
    padding-bottom: 1%;}
    @media only screen and (max-width: 600px) {
        .p4 { font-size: 150%;
            background-color: rgb(90, 124, 235);
            border-color: rgb(14, 94, 185);
            margin-left: 50%;
            margin-right: 5%;
          }
      }
    

.p5  {font-size: 200%;
    text-align: center;
    background-color: rgb(184, 41, 41);
    border-color: rgb(139, 0, 0);
    border-width: 6px;
    border-style:outset;
    margin-left: 25%;
    margin-right: 60%;
    padding-top: 1%;
    padding-bottom: 1%;}
    @media only screen and (max-width: 600px) {
        .p5 { font-size: 150%;
            background-color: rgb(201, 240, 63);
            border-color: rgb(198, 212, 0);
            margin-left: 20%;
            margin-right: 55%;
          }
      }
    

.p6  {font-size: 200%;
    text-align: center;
    background-color: rgb(241, 255, 51);
    border-color: rgb(138, 153, 0);
    border-width: 6px;
    border-style:outset;
    margin-left: 50%;
    margin-right: 30%;
    padding-top: 1%;
    padding-bottom: 1%;}
    @media only screen and (max-width: 600px) {
        .p6 { font-size: 150%;
            background-color: rgb(113, 43, 226);
            border-color: rgb(76, 0, 139);
          }
      }
    



